body .roads {
  width: 600px;
  height: 600px;
  border: 1px solid greenyellow;
  position: relative;
  margin: 0 auto;
}

body .roads .but {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: yellow;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

body .roads .vertRoad {
  width: 100px;
  height: 600px;
  background-color: green;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 250px;
}

body .roads .horRoad {
  width: 600px;
  height: 100px;
  background-color: red;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  z-index: 0;
  position: absolute;
  top: 250px;
}

body .roads .bl_inner1 {
  width: 30px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #D7D7D7;
  position: absolute;
  top: 370px;
  left: 210px;
  z-index: 2;
}

body .roads .bl_inner1 .bl_circle {
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
}

body .roads .bl_inner1 .horRoadRed1 {
  background-color: #f00;
  opacity: 1;
}

body .roads .bl_inner1 .horRoadGreen1 {
  background-color: #8FBC8F;
}

body .roads .bl_inner2 {
  width: 30px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #D7D7D7;
  position: absolute;
  top: 175px;
  right: 212px;
  z-index: 2;
}

body .roads .bl_inner2 .bl_circle {
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
}

body .roads .bl_inner2 .horRoadRed2 {
  background-color: #f00;
  opacity: 1;
}

body .roads .bl_inner2 .horRoadGreen2 {
  background-color: #8FBC8F;
}

body .roads .bl_inner3 {
  width: 30px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #D7D7D7;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  position: absolute;
  top: 200px;
  left: 190px;
  z-index: 2;
}

body .roads .bl_inner3 .bl_circle {
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
}

body .roads .bl_inner3 .vertRoadRed1 {
  background-color: #D7D7D7;
}

body .roads .bl_inner3 .vertRoadGreen1 {
  background-color: green;
  opacity: 1;
}

body .roads .bl_inner4 {
  width: 30px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #D7D7D7;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  top: 340px;
  right: 190px;
  z-index: 2;
}

body .roads .bl_inner4 .bl_circle {
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #000;
  width: 20px;
  height: 20px;
}

body .roads .bl_inner4 .vertRoadRed2 {
  background-color: #D7D7D7;
}

body .roads .bl_inner4 .vertRoadGreen2 {
  background-color: green;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */